<form action="/recipes" method="post">
  <label for="name">Name<label>
    <input type="text" name="name" value="Name">
  <label for="ingredients">Ingredients<label>
    <input type="text" name="ingredients" value="List Ingredients">
  <label for="cook_time">Cook Time<label>
    <input type="text" name="cook_time" value="Cook Time">
    <input type="submit" value="Submit">
</form>
